@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  justify-content: space-between;
  display: flex;
  padding: 1em 5em;
  background-color: #1F2937;
  gap: 80px;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
}

.left-links > * {
  font-size: 24px;
  color: #F9FAF8;
}

.right-links > * {
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  background-color: #1F2937;
  align-items: center;
  padding: 2em 5em;
}

.left-hero, .right-hero {
  display: flex;
  flex: 1 1 50%;
}

.left-hero {
  flex-direction: column;
  background-color: #1F2937;
  justify-content: space-between; /* Why doesn't this work? */
  gap: 16px;
}

.right-hero {
  color: white;
  background-color: darkgrey;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.left-hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0px;
}

.left-hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0px;
}

.hero-button {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 6px;
  font-size: 18px;
  color: #E5E7EB;
  padding: 8px 32px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 5em;
  gap: 24px;
  flex: 0;
}

.title {
  flex: 1;
  font-size: 36px;
  font-weight: 800;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.illustration {
  display: flex;
  flex-direction: column;
  flex: 1 0 calc(25% - 20px);
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  flex: 1 0 auto;;
  width: 160px;
  height: 160px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  margin: 16px;
  padding: 16px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  flex 0 1 auto;
  color: darkgrey;
}

.testimonial {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: 36px;
  padding: 1em 4em;
  gap: 16px;
}

.signature {
  display: flex;
  justify-content: end;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}
