@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.header {
  justify-content: space-between;
  display: flex;
  padding-left: max(16px, 10vw);
  padding-right: max(16px, 10vw);
  padding-top: max(8px, 2vh);
  padding-bottom: max(8px, 4vh);
  margin-bottom: -1.25rem; /* Why is there white space without it? */
  background-color: #1F2937;
  width: max(400px, 80vw);
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: max(400px, 80vw);
  padding-left: max(16px, 10vw);
  padding-right: max(16px, 10vw);
  padding-top: max(8px, 2vh);
  padding-bottom: max(8px, 2vh);
  align-items: center;
}

.left-links, .right-links {
  display: flex;
  gap: 4vmin;
}

.left-links a {
  font-size: 24px;
  color: #F9FAF8;
}

.right-links a {
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  align-items: center;
  width: max(400px, 80vw);
  padding-left: max(16px, 10vw);
  padding-right: max(16px, 10vw);
  padding-top: max(8px, 4vh);
  padding-bottom: max(8px, 6vh);
}

@media (max-width: 800px) {
  .hero {
    display: block;
  }
}

@media (min-width: 801px) {
  .hero {
    display: flex;
  }
}

.left-hero, .right-hero {
  display: flex;
  flex: 1 1 50%;
  width: clamp(45ch, 50%, 75ch);
}

@media (max-width: 800px) {
  .left-hero, .right-hero {
    align-items: center;
    margin-bottom: 32px;
    width: max(400px, 80vw);
    gap: 32px;
  }
}

@media (min-width: 801px) {
  .left-hero, .right-hero {
    display: flex;
    margin-bottom: 0px;
    gap: 16px;
  }
}

.left-hero {
  flex-direction: column;
  background-color: #1F2937;
  padding-right: 24px;
}

.main-photo {
  border-radius: 6px;
  width: max(300px, 100%);
}

.right-hero {
  justify-content: right;
}

.left-hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0px;
}

.left-hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0px;
}

.hero-button {
  display: flex;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 6px;
  font-size: 18px;
  color: #E5E7EB;
  padding: 8px 32px;
  width: 80px;
  justify-content: center;
}

.hero-button:hover {
  background-color: #6ea1db;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: max(400px, 80vw);
  padding-top: max(8px, 4vh);
  padding-bottom: max(8px, 4vh);
}

.title {
  font-size: 36px;
  font-weight: 800;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.illustration {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25% - 20px);
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  width: 160px;
  height: 160px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 160px;
  padding: 16px 40px;
  color: darkgrey;
}

.testimonial {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: clamp(4vmin, 36px, 12vmin);
  width: max(400px, 80vw);
  padding-left: max(16px, 10vw);
  padding-right: max(16px, 10vw);
  padding-top: max(8px, 4vh);
  padding-bottom: max(8px, 4vh);
  gap: 16px;
}

.signature {
  display: flex;
  justify-content: end;
  font-style: normal;
  font-weight: 800;
  font-size: clamp(4vmin, 30px, 12vmin);
}

@media (max-width: 800px) {
  .call-to-action {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    color: #E5E7EB;
    margin: 6vmin 0vmin;
    padding: 2vmin;
    border-radius: 6px;
  }
}

@media (min-width: 801px) {
  .call-to-action {
    display: flex;
    background-color: #3882f6;
    color: #E5E7EB;
    margin: 6vmin;
    padding: 10vmin;
    gap: 24px;
    justify-content: space-evenly;
    border-radius: 6px;
  }
}

.cta-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cta-title {
  color: #F9FAF8;
  font-size: 24px;
}

.cta-right {
  display: flex;
  flex: 0 0 120px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .cta-left, .cta-title {
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media (min-width: 801px) {
  .cta-left, .cta-title {
    margin-top: 0px;
  }
}

@media (max-width: 800px) {
  .cta-right {
    margin-top: -12px;
    margin-bottom: -12px;
  }
}

.cta-button {
  display: flex;
  background-color: #3882f6;
  border: 1px solid #F9FAF8;
  border-radius: 6px;
  font-size: 18px;
  color: #F9FAF8;
  padding: 8px 32px;
  min-width: 150px;
  justify-content: center;
}

.cta-button:hover {
  background-color: #6ea1db;
}

.footer {
  display: flex;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-top: -1rem; /* Why is there white space without it?*/
}

.footer-link, .footer-link:visited {
  color: #E5E7EB;
}
